<h1>Chamath</h1>

<button (click)="handleButtonClick()">Click Me</button>

<p>{{ data }}</p>

<p>{{ chamath }}</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <button class="btn btn-primary w-100">Button</button>
    </div>
  </div>
</div>

<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
